html, body {
    height: 100%;
    margin: 0;
    font-size: 14px;
	font-family: 'Khula', sans-serif;
    color: #2f2f2f;
	background: white;
}

a {
	text-decoration: none;
    color: #2f2f2f;;
}

a:hover {
	text-decoration: underline;
}

.center {
	text-align: center;
    height: 100%;
 }
 
img {
    max-height: 90%;
    height: auto;
    width: auto\9; /* ie8 */
}
 
 .some {
	height: 5%;
}

img.social {
	padding-left: 5px;
	padding-right: 5px;
    padding-top: 2px;
}